.pagenotfound {
    height: 35rem;
    padding: 2rem;
    background-color: #f0efeb;
}

.pagenotfound__404 {
    font-family: PIXEARG_, Arial, Helvetica, sans-serif;
    font-size: var(--font-size-8);
}