.button {
    height: 14em;
    border-top: 1px solid #e0e0dc;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.button:hover {
    background-color: #ebeae6;
}


@media screen and (max-width: 37.5rem) {
    .button {
        height: 10em;
    }
}