.contact-top {
    height: 14em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 2em 0 2em;
    text-align: center;
}

.contact-bottom {
    background-color: #343434;
    height: 14em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.contact-bottom:hover {
    background-color: #303030;
}

@media screen and (max-width: 700px) {
    .contact-top {
        height: 10em;
    }
    .contact-bottom {
        height: 10em;
    }
}

@media screen and (max-width: 550px) {
    .contact-top {
        font-size: 0.8em;
    }
}