.hasFlex-Justifycontent-Center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.hasFlex-Justifycontent-Flexend {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.hasFlex-Justifycontent-Flexstart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.hasFlex-Justifycontent-Spacearound {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;
}

.hasFlex-Justifycontent-Spacebetween {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.hasFlex-Justifycontent-Spaceevenly {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.hasFlex-Justifycontent-stretch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
}

.hasFlex-Alignitems-Center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.hasFlex-Alignitems-Flexend {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.hasFlex-Alignitems-Flexstart {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.hasFlex-Alignitems-Stretch {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.hasFlex-Direction-Row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.hasFlex-Direction-Column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.hasFlex-Gap-1rem {
    gap: 1rem;
}

.hasFlex-Gap-2rem {
    gap: 2rem;
}

.hasFlex-Gap-3rem {
    gap: 3rem;
}

.hasFlex-Gap-4rem {
    gap: 4rem;
}

.hasFlex-Gap-1perc {
    gap: 1%;
}

.hasFlex-Gap-2perc {
    gap: 2%;
}

.hasFlex-Gap-3perc {
    gap: 3%;
}

.hasFlex-Gap-4perc {
    gap: 4%;
}

.hasFlex-Gap-5perc {
    gap: 5%;
}