.essay {
    width: 40%;
}

.essay h4{
    font-size: 1.1rem;
}

.essay img {
    image-rendering: auto;
}

@media (max-width: 1280px) {
    .essay {
        width: 60%;
    }
}

@media (max-width: 1024px) {
    .essay {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .essay {
        width: 100%;
    }
}