.resources {
    height: 66em;
}

.page-sub-title {
    font-size: 3em;
}

.items-resources {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 2em;
    padding: 0 2em 0 2em;
}

.monthly-returns-full {
    margin-top: 2em;
}

.monthly-returns-1200 {
    display: none;
    margin-top: 2em;
}

@media screen and (max-width: 1200px) {
    .resources {
        height: 58em;
    }

    .monthly-returns-full {
        display: none;
    }

    .monthly-returns-1200 {
        display: inline;
    }
}

.monthly-returns-900 {
    display: none;
    margin-top: 2em;
}

@media screen and (max-width: 900px) {
    .resources {
        height: 50em;
    }

    .page-sub-title {
        font-size: 2em;
    }

    .monthly-returns-1200 {
        display: none;
    }

    .monthly-returns-900 {
        display: inline;
    }
}

.monthly-returns-550 {
    display: none;
    margin-top: 2em;
}

@media screen and (max-width: 550px) {
    .resources {
        height: 40em;
    }

    .page-sub-title {
        font-size: 1em;
    }

    .monthly-returns-900 {
        display: none;
    }

    .monthly-returns-550 {
        display: inline;
    }
}