
.page-sub-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 100;
    margin-top: 2em;
}

.resources {
    height: 56em;
    border-top: 1px solid #dddcda;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.items-resources {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #202020;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

.monthly-returns-full {
    margin-top: 2em;
}

.monthly-returns-1200 {
    display: none;
    margin-top: 2em;
}

@media screen and (max-width: 1200px) {
    .resources {
        height: 44em;
    }

    .monthly-returns-full {
        display: none;
    }

    .monthly-returns-1200 {
        display: inline;
    }
}

.monthly-returns-900 {
    display: none;
    margin-top: 2em;
}

@media screen and (max-width: 900px) {
    .resources {
        height: 34em;
    }

    .monthly-returns-1200 {
        display: none;
    }

    .monthly-returns-900 {
        display: inline;
    }
}

.monthly-returns-550 {
    display: none;
    margin-top: 2em;
}

@media screen and (max-width: 550px) {
    .resources {
        height: 40em;
    }

    .monthly-returns-900 {
        display: none;
    }

    .monthly-returns-550 {
        display: inline;
    }
}