/* Header */

.resources__header {
    height: 30rem;
    border-bottom: 1px solid #e0e0dc;
}

.resources__header__left {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
    padding: 2rem 4rem;
}

.resources__header__right {
    height: 100%;
    width: 100%;
    min-width: 300px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: #f0efeb;
    border-left: 1px solid #e0e0dc;
}

.resources__header__right__titleli {
    padding: 2rem 4rem;
}

.resources__header__right__li {
    border-top: 1px solid #e0e0dc;
    padding: 2rem 4rem;
}

@media screen and (max-width: 75rem) {
    .resources__header__right__titleli {
        padding: 2rem;
    }

    .resources__header__right__li {
        padding: 2rem;
    }
}

@media screen and (max-width: 37.5rem) {
    .resources__header {
        height: 50rem;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .resources__header__right__titleli {
        border-top: 1px solid #e0e0dc;
    }
}


/* Resources Data */

.resources {
    height: 60rem;
}

.resources__maindiv {
    height: 100%;
    padding: 2rem;
}

.resources__maindiv__headtext {
    width: 881px;
}

.resources__maindiv__headtext__subtitle {
    font-size: 3rem;
}

.monthly-returns-biggest {
    margin-top: 2rem;
}

.monthly-returns-big {
    display: none;
    margin-top: 2rem;
}

@media screen and (max-width: 75rem) {
    .resources {
        height: 50rem;
    }
    .resources__maindiv__headtext {
        width: 643px;
    }

    .monthly-returns-biggest {
        display: none;
    }

    .monthly-returns-big {
        display: block;
    }
}

.monthly-returns-small {
    display: none;
    margin-top: 2rem;
}

@media screen and (max-width: 50rem) {
    .resources {
        height: 40rem;
    }
    .resources__maindiv__headtext {
        width: 405px;
    }

    .resources__maindiv__headtext__subtitle {
        font-size: 2rem;
    }

    .monthly-returns-big {
        display: none;
    }

    .monthly-returns-small {
        display: block;
    }
}

.monthly-returns-smallest {
    display: none;
    margin-top: 2rem;
}

@media screen and (max-width: 37.5rem) {
    .resources {
        height: 30rem;
    }
    .resources__maindiv__headtext {
        width: 336px;
    }

    .resources__maindiv__headtext__subtitle {
        font-size: 1.4rem;
    }

    .monthly-returns-small {
        display: none;
    }

    .monthly-returns-smallest {
        display: block;
    }
}