/* Colors
Whiter : #fafafa
White : #f5f5f5
Dark : #f0f0f0
Darker : #ebebeb
Darker-2 : #e0e0e0
*/

/* body */

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #fafafa;
    opacity: 0;
    -o-transition: opacity 1.3s ease-in-out;
    transition: opacity 1.3s ease-in-out;
    -webkit-transition: opacity 1.3s ease-in-out;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
div,
span {
    color: #202020;
    font-family: neue-haas-unica, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.font-family-md {
    font-family: cormorant-garamond, serif;
    font-weight: 600;
    font-style: normal;
}

.font-color-white {
    color: #fafafa;
}

.font-color-dark {
    color: #202020;
}

/* Nav */

nav {
    background-color: #fafafa;
}

nav a {
    color: #202020;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

nav a:hover {
    color: #000000;
}

.nav__desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.nav__links {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem 4rem;
    border-bottom: 1px solid #ebebeb;
}

.nav__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: none;
}

.nav__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 4rem;
}

.privacy-consent {
    width: 100%;
    padding: 1rem 4rem;
    color: #fafafa;
    background-color: #202020;
}

.privacy-consent a {
    display: inline-block;
    color: #fafafa;
    border-bottom: 1px solid #fafafa;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.privacy-consent a:hover {
    color: #202020;
    background-color: #fafafa;
}

@media (orientation: landscape) {
    .nav__desktop {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .nav__mobile {
        display: none;
    }
}

@media (max-width: 768px) {
    .nav__desktop {
        display: none;
    }

    .nav__mobile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex !important;
    }

    .nav__links {
        padding: 2rem;
    }

    .privacy-consent {
        padding: 1rem 2rem;
    }
}

@media (max-height: 640px) {
    .privacy-consent {
        display: none;
    }
}

/* Nav and Header*/

.nav-and-header {
    height: 100vh;
    background-color: #fafafa;
    position: relative;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

/* Header */

header {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.header__content__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1rem;
    padding: 0rem 4rem 4rem;
}

.header-img {
    position: relative;
    height: 100%;
    min-width: 50%;
    background: url("/assets/images/header_asset_1080px.jpg");
    background-size: cover;
    background-position: center;
}

.shoutout {
    color: #ebebeb;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

.shoutout a {
    color: #ebebeb;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.shoutout a:hover {
    color: #fafafa;
}

@media (max-width: 1536px) {
    .header-img {
        min-width: 45%;
    }
}

@media (max-width: 1280px) {
    .header-img {
        min-width: 40%;
    }
}

@media (max-width: 1024px) {
    .header-img {
        min-width: 35%;
    }
}


@media (max-width: 768px),
(max-height: 768px) {
    .header__content__left {
        padding: 2rem;
    }

    .header-img {
        display: none;
    }
}

/* Main Container */

.main-container {
    background-color: #fafafa;
    position: relative;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 4rem;
    padding: 4rem;
}

@media (max-width: 768px),
(max-height: 768px) {
    .main-container {
        padding: 2rem;
    }
}

/* Footer */

footer {
    width: 100%;
    background-color: #202020;
    position: sticky;
    bottom: 0;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 2rem;
}

footer a {
    color: #f0f0f0;
}

.footer__nav a {
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.footer__nav a:hover {
    color: #fafafa;
}

footer h4,
footer div,
footer span {
    color: #545454;
}

.footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 2rem;
    padding: 3rem 4rem 0;
}

.slogan {
    padding: 0 4rem 0;
}

.disclosure {
    width: 100%;
    border-top: 1px solid #2e2e2e;
    padding: 1rem 4rem 2rem;
}


@media (max-width: 768px) {
    footer {
        gap: 1rem;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .footer__nav {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 1rem;
        padding: 2rem 2rem 0;
    }

    .slogan {
        padding: 0 2rem 0;
    }

    .disclosure {
        padding: 1rem 2rem 2rem;
    }
}

footer ::-moz-selection {
    color: #202020;
    background: #fafafa;
    text-shadow: none;
}

footer ::selection {
    color: #202020;
    background: #fafafa;
    text-shadow: none;
}