@font-face {
    font-family: Prida01Bold;
    src: url(https://comfycapital.github.io/assets/fonts/prida01/Prida01Bold.otf);
}

@font-face {
    font-family: LinLibertine;
    src: url(/assets/fonts/linux_libertine/LinLibertine_aDRS.ttf);
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    height: auto;
    background-color: #f5f4f1;
    color: #202020;
    opacity: 0;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
    /* Safari */
}

a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #202020;
    font-size: 1em;
    font-weight: 100;
}

h1 {
    font-family: LinLibertine, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 2.5em;
    margin: 0em;
    padding: 0 1em 0.2em 1em;
}


h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 100;
    display: inline-block;
}

@media screen and (max-width: 1000px) {
    h4 {
        font-size: 0.9em;
    }
}

/* Header */

.header {
    width: 100%;
}

.header-img {
    width: 100%;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@media screen and (max-width: 1000px) {
    .header-img {
        display: none;
    }
}

.header-img-phone {
    display: none;
}

@media screen and (max-width: 1000px) {
    .header-img-phone {
        width: 100%;
        height: 20%;
        margin: 0;
        padding: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

/* Section Comfy Capital */

.section-about {
    height: 15em;
    border-top: 1px solid #dddcda;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.section-about:hover {
    background-color: #e9e8e6;
}

.section-items-about {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #202020;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media screen and (max-width: 1000px) {
    .section-center-about {
        padding: 0 1em 0 1em;
        width: 100%;
    }
}

/* Section Contact */

.section-contact {
    height: 15em;
    border-top: 1px solid #dddcda;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.section-contact:hover {
    background-color: #e9e8e6;
}

.items-contact {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #202020;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media screen and (max-width: 1000px) {
    .center-contact {
        padding: 0 1em 0 1em;
        width: 100%;
    }
}

/* Section Home */

.section-home {
    height: 15em;
    border-top: 1px solid #dddcda;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.section-home:hover {
    background-color: #e9e8e6;
}

.section-items-home {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #202020;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    .section-center-home {
        padding: 0 1em 0 1em;
        width: 100%;
    }
}

/* Footer */

.footer {
    width: 100%;
    padding: 0 1em 0 1em;
    border-top: 1px solid #dddcda;
}

.footer-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.icons {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 30px;
    padding: 1.5em 0 1.5em 0;
}

.cc-logo {

    font-family: Prida01bold, Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: #202020;
}

.footer-text {
    font-family: Arial, Helvetica, sans-serif;
    color: #202020;
    padding: 0 1em 1em 1em;
    text-align: center;
    margin: 0 0 1em 0;
}